{{> head }}

    
      {{> navbar }}

      <!-- JUMBOTRON -->
      <div class="container"> 
          
        <div class="row">

            <div class="col-8">
                <h1>Dragon Ball</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates inventore unde eveniet error accusantium! Rerum, consectetur alias! Fugit, magnam nemo.
                </p>
            </div>

            <div class="col-4">
                <img src="assets/img/GOKU.png" alt="" class="img-thumbnail img-responsive " alt="Imagen" width="250" height="100">
            </div>
        </div>

      </div>



{{> footer }}